{% extends "base.html" %}


{% block title %} Data Sets {% endblock %}


{% block content %}

<h1>Add Data Set</h1>

<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="datasetFile">Data Set</label>
    <input name="dataset" type="file" class="form-control-file" id="datasetFile">
  </div>
  <button type="submit" class="btn btn-primary mb-2">Add</button>
</form>

{% endblock %}


{% block script %}
{% endblock %}
