{% extends "base.html" %}


{% block title %} Benford's Law {% endblock %}


{% block content %}
<h1>Benford's Law</h1>

<p>Benford's Law {% if not benford_met %} NOT {% endif %} met for the "{{col_name}}" column</p>

<img src={{ plot_url }} alt="Benford's law">

{% endblock %}


{% block script %}
{% endblock %}
