{% extends "base.html" %}


{% block title %} Data Set List {% endblock %}


{% block content %}

<h1>Data Sets</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Filename</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for dataset in datasets %}
    <tr>
      <td>{{ dataset.original_name }}</td>
      <td>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Show Benford's Law
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            {% for col in dataset.cols %}
            <a class="dropdown-item" href="{{ url_for('dataset_benford', dataset_id=dataset.id, col_name=col.name) }}">{{col.name}}</a>
            {% endfor %}
          </div>
        </div>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}


{% block script %}
{% endblock %}
